@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
      @apply px-[14px]  py-[3px] bg-primary rounded-[12px] text-black;
    }
    .inactive{
      @apply text-grey px-[14px] py-[6px];
    }
    .activeAdmin{
      @apply px-[14px]  py-[3px] bg-primary rounded-[12px] text-black;
    }
    .notEnrolled{
      @apply bg-yellow-100 text-yellow-500;
    }
    .enrolled{
      @apply bg-green-100 text-green-500;
    }
  }

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.activeAdmin{
  background: radial-gradient(100% 181.94% at 0% 59.3%, #F8C365 0%, rgba(236, 203, 145, 0.616667) 0.01%, rgba(227, 210, 178, 0.332134) 0.02%, rgba(217, 217, 217, 0) 100%);
  border-left: 2px solid #F8C365;

}
.activeLargeAdmin{
  background: radial-gradient(100% 181.94% at 0% 59.3%, #F8C365 0%, rgba(236, 203, 145, 0.616667) 0.01%, rgba(227, 210, 178, 0.332134) 0.02%, rgba(217, 217, 217, 0) 100%);
}