@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
      @apply px-[14px]  py-[3px] bg-primary rounded-[12px] text-black;
    }
    .inactive{
      @apply text-grey px-[14px] py-[6px];
    }
  }

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}